<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Backend</title>

    <!-- Styles -->
    <link href="css/page.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="icon" href="/img/favicon.png">
</head>

<body>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
    <div class="container">

        <div class="navbar-left">
            <button class="navbar-toggler" type="button">&#9776;</button>
            <a class="navbar-brand" href="/">
                <img class="logo-dark" src="/img/logo-dak.png" alt="logo">
                <img class="logo-light" src="/img/logo-ligt.png" alt="logo">
            </a>
        </div>

        <section class="navbar-mobile">
            <span class="navbar-divider d-mobile-none"></span>

            <ul class="nav nav-navbar">
                <li class="nav-item">
                    <a class="nav-link" href="#">Menü <span class="arrow"></span></a>
                    <ul class="nav">

                        <li class="nav-item">
                            <a class="nav-link" href="#">Swagger <span class="arrow"></span></a>
                            <nav class="nav">
                                <a class="nav-link" href="/swagger-ui.html">Swagger</a>
                            </nav>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">API <span class="arrow"></span></a>
                            <nav class="nav">
                                <a class="nav-link" href="/api/feedback">All</a>
                                <a class="nav-link" href="/api/feedback/welcome">Welcome</a>
                            </nav>
                        </li>

                    </ul>
                </li>

            </ul>
        </section>

        <a class="btn btn-xs btn-round btn-success" href="https://themeforest.net/item/thesaas-responsive-bootstrap-saas-software-webapp-template/19778599?license=regular&open_purchase_for_item_id=19778599&purchasable=source&ref=thethemeio">Login</a>

    </div>
</nav><!-- /.navbar -->


<!-- Header -->
<header class="header text-center text-white" style="background-color: #b9a0c9;">
    <div class="container">

        <div class="row">
            <div class="col-md-8 mx-auto">

                <h1 class="display-4">DTA-Feed</h1>
                <p class="lead-2 opacity-90 mt-6">You can see all Feedback from Frontend Angular!</p>

            </div>
        </div>

    </div>
</header><!-- /.header -->


<!-- Main Content -->
<main class="main-content">

    <section class="section bg-gray">
        <div class="container">
            <div class="row gap-y">


                <div class="col-md-6 col-xl-4" th:each="feedback: ${feedbacks}">
                    <div class="product-3 mb-3">
                        <a class="product-media" href="#" th:each="thumbnail: ${feedback.getThumbnails()} ">
                            <span class="badge badge-pill badge-primary badge-pos-left"></span>
                            <img th:src="@{${thumbnail.getUrl()}}" alt="thumbnail" width="50">
                        </a>

                        <div class="product-detail">
                            <h6><a href="#" th:text="${feedback.getLineId()}"></a></h6>
                            <div class="product-price" th:text="${feedback.getAuthor()}"></div>
                        </div>
                    </div>
                </div>

            </div>


            <nav class="mt-7">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span class="fa fa-angle-left"></span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
    </section>

</main>


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row gap-y align-items-center">

            <div class="col-6 col-lg-3">
                <a href="#"><img src="/img/logo-dak.png" alt="logo"></a>
            </div>


            <div class="col-lg-6">
                <div class="nav nav-bold nav-uppercase nav-trim justify-content-lg-center">
                    <a class="nav-link" href="../page/about-1.html">About</a>
                </div>
            </div>

        </div>
    </div>
</footer><!-- /.footer -->


<!-- Scripts -->
<script src="/js/page.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
